<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <%- include('../assets/nav.ejs') %>
        <main class="mx-auto w-100 ">

            <form class="mx-auto my-5 w-50 d-flex flex-column" name="joinForm" id="joinForm">
                <div class="form-group">
                  <label for="userName">Username</label>
                  <input name="user" type="text" class="form-control" id="userName" aria-describedby="userName" value="Anonymous" required maxlength="20">
                </div>
                <div class="form-check">
                    <input name="hostCheck" type="checkbox" class="form-check-input" id="hostcheck">
                    <label class="form-check-label" for="hostcheck">Are you a host?</label>
                </div>
                <div class="form-group">
                  <label for="hostID">Host ID</label>
                  <input name="host" type="password" class="form-control" id="hostID" placeholder="Host ID" disabled>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p id="error-paragraph"></p>
            </form>

            <div class="menus-container">
                <!-- Information container-->
                <div id="info-container">
                    <button id="users-btn">Users</button>
                    <ul class="users-list">
                        <li class="user-container" id="user-clone-container">
                            <p id="userName">UserName + if he's host</p>
                        </li>
                    </ul>
                </div>
                <!-- Drawing tools container-->
                <div id="tools-container">
                    <button id="redMarker" value="red">Red</button>
                    <button id="greenMarker" value="green">Green</button>
                    <button id="eraser" value="white">Eraser</button>
                    <button id="blueMarker" value="blue">Blue</button>
                    <button id="blackMarker" class="active-btn" value="black">Black</button>
                </div>
            </div>
        </main>
    </body>
    <!-- BootStrap Don't Touch! -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Whiteboard APP-->
    <script src="/scripts/app3.js"></script>
</html>