<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../assets/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Discord Notes</title>
    </head>
    <body style="background-image: url(../assets/angry.png); background-repeat: no-repeat; background-position: center center;">
        <%- include('nav.ejs') %>
        <main>
            <% if(locals.message) { %>
                <h1 class="display-1 mx-auto text-center"><%=locals.name%></h1>
                <h1 class="h1 mx-auto text-center"><%=locals.message%></h1>
            <% }else{ %>
                <h1 class="display-1 mx-auto text-center">Sorry...</h1>
                <h1 class="h1 mx-auto text-center">Something Happened</h1>
            <% } %>
        </main>
    </body>
</html>