<nav class="mainNav-container" id="main-nav">
    <a class="logo-hyperlink" href="/"><img src="/assets/home.svg"></a>
    <% if (locals.data){ %>
        <div class="roomInfo-container">
            <img id="copyPaste-btn" src="/assets/copy.svg">
            <script>
                document.querySelector('#copyPaste-btn').addEventListener('click', (event)=>{
                    event.stopPropagation();
                    let copyText = "https://discord-notes.herokuapp.com/board/" + document.querySelector("#roomCode").innerHTML;
                    navigator.clipboard.writeText(copyText).then(function() {
                        /* clipboard successfully set */
                        console.log("Copy paste set");
                        }, function() {
                        /* clipboard write failed */
                        console.log("Copy paste failed");
                    });
                })
            </script>
            <h3 id="id-container">Board ID: <span id="roomCode"><%= data.roomCode %></span></h3>
            <% if (locals.data.hostCode){ %>
                <span id="hostCode"><%= data.hostCode %></span>
            <% } %>
        </div>
    <% } %>
</nav>