<nav class="navbar navbar-dark bg-dark" id="main-nav">
    <a class="navbar-brand" href="/">Discord Notes</a>
    <% if (locals.data){ %>
        <h2 id="id-container">Room Code: <span id="roomCode"><%= data.roomCode %></span></h2>
        <% if (locals.data.hostCode){ %>
            <span id="hostCode"><%= data.hostCode %></span>
        <% } %>
    <% } %>
</nav>