*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: skyblue;
}
main{
    position: relative;
    overflow: hidden;
}
/* Cursor Styles */
#cursor-container{
    position: absolute;
    z-index: 10;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
#cursor-img{
    position: absolute;
    z-index: 11;
    pointer-events: none;
}
#id-container{
    color: white;
}
.menus-container{
    display: none;
}

/* Pen styles */
#textArea-input{
    position: absolute;
    overflow: visible;
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: none;
    text-align: left;
}

/* User actions styles */
#tools-container{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#tools-container button{
    width: 75px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}
#zoom-container{
    position: fixed;
    bottom: 0;
    right: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}
#zoom-container button{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 15%;
}
#colors-container{
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#colors-container button{
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
#redMarker{
    background-color: red;
}
#greenMarker{
    background-color: green;
}
#blackMarker{
    background-color: black;
}
#blueMarker{
    background-color: blue;
}
#drawMore{
    width: 30px;
    height: 30px;
    margin: 10px;
}
#userActions-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}
#drawSize-container{
    width: 40px;
    height: 30px;
}
#info-container{
    max-width: 300px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#hostCode{
    display: none;
}
.active-btn{
    border: solid 5px black;
}
#error-paragraph{
    color: red;
    font-size: 20px;
}
.users-list{
    max-height: 300px;
    overflow: auto;
    padding: 20px;

    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}
.user-container{
    margin-bottom: 10px;
    border: dotted 2px black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.user-container *{
    margin: 10px;
}
.options-container{
    margin-bottom: 10px;
    border: dotted 2px black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.options-container *{
    margin: 10px;
}
#import-input{
    display: none;
}
#user-clone-container{
    display: none;
}
#kick-btn{
    width: 50px;
    height: 50px;
}
#mute-btn{
    width: 50px;
    height: 50px;
}
#users-btn{
    width: 50px;
    height: 50px;
}
.options-container button{
    width: 60px;
    height: 50px;
}