*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    min-height: 100;
    overflow: hidden;
}
html{
    height: 100%;
}
main{
    position: relative;
    overflow: hidden;
}
#title-heading{
    font-family: 'Cabin Sketch', cursive;
}

/*Nav bar*/
.mainNav-container{
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 10;

    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;

    color: black;
    background-color: transparent;

    pointer-events: none;
}
.logo-hyperlink{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Cabin Sketch', cursive;
    color: black;
    opacity: 0.5;

    pointer-events: auto;
}
.logo-hyperlink img{
    max-width: 75px;
    max-height: 75px;
}
.logo-hyperlink:hover{
    color: black;
    text-decoration: none;
    opacity: 1;
}
.roomInfo-container{
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-end;
    justify-content: right;
}
#copyPaste-btn{
    max-height: 30px; 
    max-width: 30px;

    pointer-events: auto;
}
#copyPaste-btn:hover{
    cursor: pointer;
    animation-name: copyHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes copyHover{
    from{opacity: 1;}
    to{opacity: 0.1;}
}
#id-container, #roomCode{
    color: black;
    font-size: 1.5rem;
    pointer-events: auto;
}
#hostCode{
    display: none;
}

/* Cursor Styles */
#cursor-container{
    position: absolute;
    z-index: 10;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
#cursor-img{
    position: absolute;
    z-index: 11;
    pointer-events: none;
}

/* Menus */
.menus-container{
    display: none;
}

/* Pen styles */
#textArea-input{
    position: absolute;
    overflow: visible;
    width: 200px;
    height: 100px;
    background-color: transparent;
    border: none;
    text-align: left;
}

/* User actions styles */
#tools-container{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#tools-container button{
    width: 50px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}
#drawSize-container{
    width: 40px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
}
#drawSize-range{
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}
#zoom-container{
    position: fixed;
    bottom: 0;
    right: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}
#zoom-container button{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 15%;
}
#delete-container{
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}
#delete-container button{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 15%;
}
#additions-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#colors-container{
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#colors-container button{
    width: 20px;
    height: 20px;
    border-radius: 20px;
}
#size-container{
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#redMarker{
    background-color: red;
}
#greenMarker{
    background-color: green;
}
#blackMarker{
    background-color: black;
}
#blueMarker{
    background-color: blue;
}
#drawMore{
    width: 30px;
    height: 30px;
    margin: 10px;
}
#userActions-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#userActions-container button img{
    pointer-events: none;
    max-width: 100%; 
    max-height: 100%; 
    margin: 0 auto;
}
#drawSize-container{
    width: 40px;
    height: 30px;
}

/*Side info menu */
#info-container{
    max-width: 400px;
    position: fixed;
    right: 0;
    top: 5%;

    display: block;
    text-align: right;
}
#users-btn{
    width: 100px;
    height: 100px;
    background-color: white;
    border: none;
    opacity: 0.5;
}
#users-btn:focus {
    outline: none;
    box-shadow: none;
}
#users-btn:hover{
    color: black;
    text-decoration: none;
    opacity: 1;
}
#info-container button img{
    pointer-events: none;
    max-width: 100%; 
    max-height: 100%; 
    margin: 0 auto;
}
.active-btn{
    border: solid 3px black;
}
#error-paragraph{
    color: red;
    font-size: 20px;
}
.users-list button{
    border-radius: 10px;
}
.users-list{
    max-height: 300px;
    overflow: auto;
    padding: 10px;

    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}
.user-container{
    margin-bottom: 10px;
    border: dotted 2px black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.user-container *{
    margin: 10px;
}
.options-container{
    margin-bottom: 10px;
    border: dotted 2px black;
    border-radius: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.options-container button{
    width: 75px;
    height: 50px;
    border-radius: 10px;
}
.options-container *{
    margin: 5px;
}
#import-input{
    display: none;
}
#user-clone-container{
    display: none;
}
#kick-btn{
    width: 50px;
    height: 50px;
}
#mute-btn{
    width: 50px;
    height: 50px;
}
.options-container button{
    width: 60px;
    height: 50px;
}
#selectedDiv{
    position: absolute;
    z-index: 10;
    border-color: greenyellow;
    border-style: dashed;
    border-width: 5px;
}
#rectDiv{
    position: absolute;
    z-index: 10;
    border-style: dashed;
    border-width: 5px;
    pointer-events: none;
}