*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: skyblue;
}
#id-container{
    color: white;
}
.menus-container{
    display: none;
}
#tools-container{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#tools-container button{
    width: 75px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}
#info-container{
    max-width: 300px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#hostCode{
    display: none;
}
.active-btn{
    border: solid 5px black;
}
#error-paragraph{
    color: red;
    font-size: 20px;
}
.users-list{
    max-height: 300px;
    overflow: auto;
    padding: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}
.user-container{
    margin-bottom: 10px;
    border: dotted 2px black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.user-container *{
    margin: 10px;
}
.options-container{
    margin-bottom: 10px;
    border: dotted 2px black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.options-container *{
    margin: 10px;
}
#user-clone-container{
    display: none;
}
#kick-btn{
    width: 50px;
    height: 50px;
}
#mute-btn{
    width: 50px;
    height: 50px;
}
#users-btn{
    width: 50px;
    height: 50px;
}
.options-container button{
    width: 60px;
    height: 50px;
}